.App {
  text-align: center;
  padding: 4px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

#app-title {
  color: #1bb193;
  margin-bottom: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.MuiToggleButton-root.Mui-selected {
  background-color: #1bb193;
  color: #fff;
}

.MuiTab-textColorInherit.Mui-selected {
  background-color: #1bb193;
  color: #fff;
}

.MuiTab-textColorInherit {
  background-color: #f0f0f0;
}

.MuiTypography-h6 {
  line-height: 1.2;
}

.MuiInputBase-input {
  background-color: #fff;
  color: #595959;
}

.MuiButton-outlinedPrimary, .MuiButton-outlinedPrimary:hover {
  border:2px solid #1bb193;
}